@import url(../../../../index.css);

.dashboard-cards {
    display: flex;
}

.dashboard-text-cards {
    display: flex;
    flex-direction: column;
}

.dashboard-text-card {
    background-color: yellow;
    padding: 20px;

    & div:nth-child(1) {
        font-size: var(--text-s);
        font-weight: var(--font-bold);
    }

    & div:nth-child(2) {
        font-size: var(--text-l);
        font-weight: var(--font-bold);
    }

    & div:nth-child(3) {
        font-size: var(--text-xs);
        font-weight: var(--font-normal);
    }
}
