@import url(../../../../index.css);

.recent-activity {
    background-color: #161e54;
    border-radius: 12px;
    color: var(--clr-secondary);
    border-radius: 12px;
    overflow: hidden;
}

.recent-activity-heading {
    background-color: #1e265f;
    font-size: var(--text-m);
    font-weight: var(--font-bold);
    padding: 20px;
}

.recent-activity-content-wrapper {
    padding: 20px;
    flex-grow: 1;
}

.recent-activity-info-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    & div:nth-child(1) {
        font-size: var(--text-xs);
    }

    & div:nth-child(2) {
        font-size: var(--text-m);
    }

    & div:nth-child(3) {
        font-size: var(--text-s);
        font-weight: var(--font-bold);
    }
}

.recent-activity-button-block {
    display: flex;
    flex-direction: column;
    div {
        font-size: var(--text-xs);
        font-weight: var(--font-bold);
        margin-bottom: 10px;
    }

    button {
        background-color: var(--clr-signature);
        padding: 12px;
        border-radius: 12px;
        color: white;
    }
}

@media screen and (width > 767px) {
    .recent-activity {
        width: 60%;
    }
}

@media screen and (width > 1023px) {
    .recent-activity-button-block {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .recent-activity {
        width: 100%;
    }
}
