@import url(../../index.css);

.sidebar {
    border: 1px solid var(--clr-inactive-light);
    padding-block: 40px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: var(--clr-inactive-light);
    color: var(--clr-inactive-hard);
    /* display: none; */
    position: absolute;
    transform: translateX(-1000px);
    z-index: 1000;
}

.aside-button {
    display: flex;
    gap: 24px;

    & button:nth-child(1) {
        width: 24px;
        height: 24px;
        min-width: 24px;
        &:hover {
            color: var(--clr-signature);
        }
    }

    &:hover > * {
        color: var(--clr-signature);
    }
}

.aside-buttons {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: flex-start;
}

.cross-icon {
    display: none;
}
@media screen and (width > 767px) {
    .sidebar {
        width: max-content;
        text-wrap: nowrap;
        display: flex;
        transform: translateX(0);
        position: static;
    }

    .aside-button {
        & div:nth-child(2) {
            display: none;
        }
    }

    .aside-buttons {
        align-items: center;
    }
}

@media screen and (width > 1023px) {
    .sidebar {
        width: 24%;
    }

    .aside-button {
        align-self: flex-start;
        & div:nth-child(2) {
            display: block;
            font-size: var(--text-s);
            color: var(--clr-inactive-hard);

            &:hover {
                color: var(--clr-signature);
            }
        }
    }
}

/* Util css classes */
.util-side-bar-open {
    position: absolute;
    transform: translateX(0);
    width: 100%;
    background-color: white;

    .logo-and-icon-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .cross-icon {
        display: block;

        &:hover {
            color: var(--clr-signature);
        }
    }
}
