/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* Setup application theme */

    /* Font sizes */
    --text-xl: 48px;
    --text-l: 36px;
    --text-m: 18px;
    --text-s: 16px;
    --text-xs: 10px;

    /* Font weights */
    --font-bold: 500;
    --font-normal: 400;

    /* Font colors */
    --clr-signature: #ff5151;
    --clr-inactive-hard: #949494;
    --clr-inactive-light: #ddddddbf;
    --clr-active-hard: #707070;
    --clr-active-light: #cccccc;
    --clr-primary: black;
    --clr-secondary: white;
}

/* Reset CSS properties */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    font-family: "Poppins", sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.logo {
    color: rgb(0, 0, 172);
    font-size: var(--text-m);
    font-weight: var(--font-bold);
}
